/* Login */
.login-container {
  align-items: center;
  background: linear-gradient(to bottom, #41197f 50%, white 50%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  padding: 20px;
}

.login-container .logo {
  height: 157.25px;
  width: 198px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
}

.login-container form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

.login-container form input:focus {
  border: 3px solid #fcc436;
  outline: none;
}

.login-container form button {
  background-color: #fcc436;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

/* End Login */
