.horizontal-image {
  border: #f56715 5px solid;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.done-recipes-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.done-recipes-btns {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  width: 90%;
}

.done-recipes-btns button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: transform 0.8s ease;
}

.done-recipes-btns button:active {
  transform: scale(0.5);
}

.done-recipes-btns img {
  border: 2px solid #fcc436;
  border-radius: 50%;
  height: 60px;
  padding: 5px;
  width: 60px;
}

.done-recipes-btns p {
  color: #797d86;
  font-size: 20px;
  font-weight: 700;
}

.recipe-card {
  align-items: center;
  background: linear-gradient(to right, #fcc436, #41197f);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: 0 auto 20px;
  padding: 10px;
  position: relative;
  width: 90%;
}

.recipe-card h3 {
  color: #1a1b1c;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.recipe-card a {
  color: #baf2ff;
  text-decoration: none;
}

.recipe-card h4 {
  color: #1a1b1c;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.tags-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tags-container span {
  background-color: #d9d9d9;
  border-radius: 5px;
  color: #797d86;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px;
}

.horizontal-share-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
}

.horizontal-share-btn p {
  background-color: #fcc436;
  border-radius: 5px;
  color: #41197f;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 15px;
}

.horizontal-share-btn img {
  height: 40px;
  width: 40px;
}

.horizontal-favorite-btn {
  background-color: transparent;
  border: none;
  left: 12px;
  position: absolute;
  top: 12px;
}

.horizontal-favorite-btn img {
  height: 40px;
  width: 40px;
}
