.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  width: 100%;
}

.profile-container h3 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 0;
}

.profile-container-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 90%;
}

.profile-container-btns button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  color: #b1b1b1;
  display: flex;
  padding: 10px;
  width: 100%;
}

.profile-container-btns img {
  margin-right: 75px;
  width: 25px;
}
