.carousel-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  margin: 50px 0;
  overflow-x: auto;
  position: relative;
  width: 600px;
}

.carousel-container div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.favorite-btn img {
  height: 30px;
  width: 30px;
}

.share-btn img {
  height: 30px;
  width: 30px;
}

.carousel-container div img {
  height: 100%;
  object-fit: cover;
  width: 300px;
}

.start-recipe-btn {
  background-color: white;
  border: 1px solid black;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}

.share-btn {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  bottom: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 0;
  width: 50px;
  z-index: 1;
}

.favorite-btn {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  bottom: 100px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 0;
  width: 50px;
  z-index: 1;
}
