.recipe-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  overflow: hidden;
}

.recipe-details-container h1 {
  color: #1a1b1c;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.category-icon {
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  width: 30px;
}

/* Start BTN */
.start-recipe-btn {
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  left: 0;
  margin: 10px auto;
  position: fixed;
  right: 0;
  width: 95%;
}

/* Header */
.recipe-photo {
  height: 300px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.recipe-details-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.421);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
}

.recipe-details-header h1 {
  color: white;
  margin-bottom: 30px;
}

.header-container-control {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.header-container-control p {
  color: #fcc436;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.recipe-details-header_btns {
  display: flex;
  gap: 10px;
}

.recipe-details-header_btns button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.recipe-details-header_info {
  display: flex;
  gap: 10px;
}

/* Carousel */
.carousel-container {
  display: flex;
  gap: 10px;
  height: 100%;
  margin: 20px 0 75px;
  overflow-x: auto;
  position: relative;
  scroll-snap-type: x mandatory;
  width: 360px;
}

.carousel-card {
  align-items: center;
  border: #fcc436 2px solid;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
  width: 180px;
}

.carousel-card img {
  border-radius: 5px;
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.carousel-card p {
  color: #1a1b1c;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

/* ingredient list */
.recipe-details-ingredients {
  border: #fcc436 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0;
  padding: 0;
}

.recipe-details-ingredients li {
  border-bottom: #fcc436 2px solid;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

/* instructions */
.instructions {
  border: #fcc436 1px solid;
  margin: 25px auto;
  padding: 10px;
  width: 90%;
}
