/* Header */

.title-hero {
  width: 100%;
  height: 100px;
  display: flex; 
  flex-direction: column;
  text-transform: uppercase;
  color: #41197F;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.title-hero img {
  width: 30px;
  height: 30px;  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FCDC36;
  color: white;
}

.header-container-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-container-btns button {
  background-color: transparent;
  border: none;
}

/* End Header */

/* SearchBar */

.search-bar {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #41197F;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #B1B1B1;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar input[type="radio"] {
  margin-right: 5px;
}

.search-bar label {
  margin-right: 10px;
}

.search-bar button {
  width: 208.159px;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #FCC436; 
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* End SearchBar */
