.footer {
  align-items: center;
  background-color: #41197f;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer img {
  border: 3px solid #fcc436;
  border-radius: 50%;
  height: 50px;
  padding: 5px;
  width: 50px;
}

