.ingredients-list {
  align-items: center;
  border: 1px solid #b1b1b1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  gap: 10px;
  margin: 20px auto;
  padding: 10px;
  width: 90%;
}

.ingredients-list label {
  margin: auto;
}

.ingredients-list [ type = 'checkbox' ] {
  appearance: none;
  background-color: white;
  border: 2px solid #fcc436;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  left: 0;
  margin: 5px 10px;
  position: relative;
  top: 9px;
  width: 25px;
}

.ingredients-list [ type = 'checkbox' ]:before {
  background-color: #fcc436;
  border-radius: 50%;
  content: '';
  height: 0;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 3px;
  transition: all 0.3s ease;
  width: 0;
}

.ingredients-list [ type = 'checkbox' ]:checked:before {
  height: 15px;
  opacity: 1;
  width: 15px;
}

.start-recipe-btn:disabled {
  background-color: #ccc;
  color: #353535;
  cursor: not-allowed;
}
